body{
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: 1500px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
}
h1{
    color: rgb(250, 250, 250);
   background-color: rgb(83, 18, 235); 
   font-style: normal;
}

h2{
    font-style: italic;
    color: rgb(13, 37, 245);
}

.contacts {
  font-style:normal;
  color: rgb(21, 243, 13);
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(15, 180, 192);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: rgb(42, 81, 165);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
.button {
    transition-duration: 0.4s;
    padding: 15px 32px;
    font-size: 16px;
    ;
  }
  
  .button:hover {
    background-color: #2cf104; /* Green */
    color: rgb(237, 245, 236);
  }

.selection{
  padding: 5px 11px;
  font-size: 16px;

}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/* Style the search box */
#mySearch {
  width: 60%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 6px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: rgb(247, 250, 255);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


