
h1{
    color: rgb(242, 242, 248);
   background-color: blue; 
   font-style: normal;
}

h2{
    font-style: italic;
    color: rgb(56, 3, 248);
}

.contacts {
  font-style:normal;
  color: rgb(21, 243, 13);
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(15, 180, 192);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: rgb(42, 81, 165);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
body{
    
  background-image: url("https://www.toptal.com/designers/subtlepatterns/#");
    background-repeat: no-repeat;
    background-size: 1500px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
}
.button {
    transition-duration: 0.4s;
    padding: 15px 32px;
    font-size: 16px;
    ;
  }
  
  .button:hover {
    background-color: #2cf104; /* Green */
    color: rgb(237, 245, 236);
  }

.selection{
  padding: 5px 11px;
  font-size: 16px;

}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
